baas-front-end/app/bower_components
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*.DS_Store
./**
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.vscode/

**/coverage
**/logs
**/node_modules
**/bower_components
**/.firebase


$RECYCLE.BIN/


./**/package-lock.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
