<div class="person wrapper">
  <form class="col-md-6">
    <label>Nome</label>
    <input type="text" ng-model="person.name" placeholder="Nome" class="form-control">
    <label>Email</label>
    <input type="email" ng-model="person.email" placeholder="E-mail" class="form-control">
    <label>Telefone</label>
    <input type="tel" ng-model="person.tel" placeholder="Telefone" class="form-control">
    <button ng-click="vm.update(person)" ng-disabled="!(person.name && person.email)" class="pull-right btn btn-success">
      Update
    </button>
  </form>
</div>